<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        .container {
            padding: 30px;
        }

        td {
            padding-right: 10px;
        }

        h3 {
            font-size: 35px;
        }

        tr {
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <hr>
        <table>
            <tr>
                <td>
                    <h3>Username </h3>
                </td>
                <td>
                    <h3> : {{ Username }}</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h3>Store </h3>
                </td>
                <td>
                    <h3> : {{ Store }}</h3>
                </td>
            </tr>
        </table>
        <hr>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="http://web.unair.ac.id/admin/foto/f_76392.jpg">
        </div>

        <div class="col-md-8">
            <h3>{{ Category }}</h3>
            <h3>{{ Created At }}</h3>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="http://web.unair.ac.id/admin/foto/f_76392.jpg">
        </div>

        <div class="col-md-8">
            <h3>{{ Category }}</h3>
            <h3>{{ Created At }}</h3>
        </div>
    </div>

</div>
</body>
</html>